html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

p {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  height: 100vh;
  line-height: 1.3;
  background-color: white;
  margin: 0;
}

header,
p {
  margin: 0;
}

.button-center {
  width: 100%;
  text-align: center;
}

.mt4-logo {
  width: 200px;
}

a {
  display: block;
  text-decoration: none;
}

.nav {
  list-style: none;
  padding: 0;
  max-width: 0;
}

.split {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.accent-color {
  display: block;
  font-size: 9px;
  margin-right: 10px;
  color: #dedede;
}

.account-carousel {
  position: absolute;
  left: 0;
  z-index: -1;
}

.fiat-grad {
  background: linear-gradient(104.45deg, #f0d9f7 -1.3%, #f8e7f1 114.83%);
}

.cent-grad {
  background: linear-gradient(277.39deg, #c8fff9 1.53%, #8ae6cf 100%);
}

.crypto-grad {
  background: linear-gradient(97.28deg, #c892f3 -90.57%, #ffd8b5 100%);
}

.standard-grad {
  background: linear-gradient(97.28deg, #72bfe9 -90.57%, #c2e1f1 100%);
}

.premium-grad {
  background: linear-gradient(97.28deg, #7f64f3 -90.57%, #eae7f4 100%);
}

.pro-grad {
  background: linear-gradient(97.28deg, #ff5e1f -90.57%, #ffcbb6 100%);
}

.micro-grad {
  background: linear-gradient(277.27deg, #ace6dd 0%, #6cd5c5 100%);
}

.base-btn {
  display: block;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  padding: 20px 24px;
  text-decoration: none;
  border-radius: 4px;
}

.btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: clamp(280px, 30%, 3rem);
  gap: 30px;
  padding-bottom: 70px;
}

.btn-wrapper .btn-orange {
  background-color: #dc3545;
}

.btn-wrapper .btn-green {
  color: #2196f3;
  border: 1px solid #2196f3;
  background: transparent;
}

.info__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: auto;
  max-width: 200px;
  height: 100%;
  top: 118px;
  left: 0;
  z-index: -1;
}

.info__list .info__item:nth-child(3) {
  height: 85px;
}

.info__list .info__item:not(:last-child) {
  border-bottom: 1px solid rgba(172, 172, 172, 0.459);
}

.info__list .info__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  background: white;
  width: 180px;
  padding: 13px 0;
}

.info__list .info__heading {
  font-size: 14px;
  font-weight: 500;
  color: #000;
}

.account__wrapper {
  padding: 70px 0;
  margin-bottom: 180px;
}

.owl-carousel {
  padding-left: clamp(300px, 30%, 2rem);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  z-index: 10;
}

.slider-item a {
  color: #140d2d;
}

.slider-item {
  -webkit-box-shadow: 43px 56px 50px -10px rgba(170, 160, 160, 0.2);
          box-shadow: 43px 56px 50px -10px rgba(170, 160, 160, 0.2);
  border-radius: 4px;
}

.owl-stage-outer {
  margin-top: 200px;
  height: 800px;
}

.icon-standard::after,
.icon-standard::before,
.icon-premium::before,
.icon-micro::before,
.icon-pro::before,
.icon-cent::before,
.icon-crypto::before,
.icon-fiat::before {
  position: absolute;
  display: block;
  content: "";
  top: 16%;
  left: 55%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 85px;
  height: 72px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.slider-item:hover .icon-standard::before,
.slider-item:hover .icon-premium::before,
.slider-item:hover .icon-micro::before,
.slider-item:hover .icon-pro::before,
.slider-item:hover .icon-cent::before,
.slider-item:hover .icon-crypto::before,
.slider-item:hover .icon-fiat::before {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.icon-fiat::before {
  background-image: url("../../icon-fiat.png");
  z-index: 3;
  left: 40%;
}

.icon-fiat::before {
  width: 170px;
}

.icon-crypto::before {
  background-image: url("../../icon-crypto.png");
}

.icon-cent::before {
  background-image: url("../../icon-cent.png");
}

.icon-standard::before {
  left: 62%;
  background-image: url("../../knife.png");
}

.icon-premium::before {
  left: 60%;
  background-image: url("../../crown.png");
}

.icon-micro::before {
  background-image: url("../../coin.png");
}

.icon-pro::before {
  background-image: url("../../helm.png");
}

.account__card {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 100px;
  z-index: -1;
}

.account__card .account__header {
  padding: 20px;
}

.account__card .header-account,
.account__card .header-card {
  font-weight: 700;
  font-size: clamp(1.25rem, calc(0.96rem + 1.46vw), 2rem);
  color: white;
}

.account__card .header-account {
  font-weight: 400;
  font-size: 1.25rem;
}

.account__card .account__table {
  position: relative;
  height: 450px;
  background: rgba(255, 255, 255, 0.8);
  z-index: 10;
}

.account__card .account__table .account__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 20px;
  list-style: none;
  margin: 0;
}

.account__card .account__table .account__body .account-row:not(:last-child) {
  border-bottom: 1px solid #e8e8e8bb;
  border-width: 0.3px;
}

.account__card .account__table .account__body .account-row:nth-child(3) {
  height: 85px;
}

.account__card .account__table .account__body .account-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 13px 0;
}

.account__card .account__table .account__body .account-row .account-header {
  display: none;
}

.account__card .account__table .account__body .account-row .account-value {
  font-size: 14px;
  font-weight: 600;
  color: #2f2e35;
  text-align: left;
}

.account__card .account__table .account__body .account-row .account-value .allpips-logo {
  width: 70px;
  height: 50px;
}

.account__card .account__table .account__body .account-row .account-value .mt4-logo {
  width: 150px;
  height: 40px;
}

@supports ((-webkit-backdrop-filter: blur(1rem)) or (backdrop-filter: blur(1rem))) {
  .account__table {
    -webkit-backdrop-filter: blur(1rem);
            backdrop-filter: blur(1rem);
  }
}

@media (max-width: 991.98px) {
  .info__list {
    top: 115px;
  }
  .btn-wrapper a {
    padding: 20px 14px;
  }
}

@media (max-width: 767.98px) {
  .info__list {
    display: none;
  }
  .owl-stage-outer {
    height: 850px;
  }
  .account__card .account__table {
    height: 540px;
  }
  .account__card .account__table .account__body .account-row .account-header {
    display: block;
    text-align: left;
  }
  .account__card .account__table .account__body .account-row .account-value {
    text-align: right;
  }
  .account__wrapper {
    margin: 160px 0 430px;
  }
  .btn-wrapper {
    padding-left: 0 !important;
    gap: 0;
  }
  .owl-carousel {
    padding-left: 5px !important;
  }
  .btn-wrapper {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 0;
    gap: 10px;
    z-index: 100000;
  }
  .btn-wrapper a {
    width: 240px;
    padding: 15px 30px;
  }
  .owl-nav {
    top: 50%;
    left: 0;
  }
  .owl-nav .bi-arrow-left-short {
    left: unset !important;
    right: 0;
    margin-top: 60px;
  }
  .owl-dots {
    position: absolute;
    top: 93%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .bi-arrow-right-short::before {
    margin: 10px;
  }
  .bi {
    background-color: #6cd5c5;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
}

@media (max-width: 576.98px) {
  .account__card .account__table .account__body .account-row .account-header {
    display: block;
    text-align: left;
  }
  .account__card .account__table .account__body .account-row .account-value {
    text-align: left;
  }
}

@media (max-width: 375.98px) {
  .owl-theme .owl-dots .owl-dot span {
    width: 10px !important;
  }
}
/*# sourceMappingURL=style.css.map */